div.progress.progress-striped
    div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow=progress, aria-valuemin="0", aria-valuemax="100", style="width: " + progress + "%")
        span.sr-only
            = progress
            | % complete
div.row
    div.col-sm-3
        | Supported&nbsp;
        span.badge= support.SUPPORTED
    div.col-sm-3
        | Supported in next versions&nbsp;
        span.badge= support.SUPPORTED_IN_NEXT
    div.col-sm-3
        | Probably supported&nbsp;
        span.badge= support.SUPPORTED_PROBABLY
    div.col-sm-3
        | Unsupported&nbsp;
        span.badge= support.UNSUPPORTED
br
br
